body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #282727;
}

.menu {
    display: flex;
    background-color: #212020;
    text-indent: 2vh;
    font-weight: bold;
    padding: 2% 0;
    color: rgba(255, 255, 255, 0.551);
    align-items: center;
    box-shadow: 0 0.2vh #202020;
}

#icon-menu {
    height: 2.5vh;
    border-radius: 100px;
    margin-left: 3%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #292929;
}

::-webkit-scrollbar-thumb {
    background:  #50a3f0;
}

#chats {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    color: rgb(98, 98, 98);
}

.response {
    color: white;
    margin: 2%;
    clear: both;
    text-indent: 3%;
    line-height: 3vh;
}

.response p {
    margin: 1% 4%;
}

#logo {
    height: 2.5vh;
    border-radius: 100px;
    margin-right: 15px;
    position: relative;
    top: 0.5vh;
}

.message {
    color: white;
    background-color: #50a3f0;
    padding: 10px;
    border-radius: 10px;
    margin: 2%;
    max-width: 60%;
    float: right;
}

.instruct-msg {
    padding: 0 8%;
}

.instruct-msg p{
    color: rgb(98, 98, 98);
    text-indent: 10%;
    font-size: 14px;
}

.instruct-msg li{
    font-size: 14px;
    margin:1vh;
}

.input-box {
    display: flex;
    width: 96%;
    align-items: center;
    border: none;
    border-radius: 25px;
    background-color: #343434;
    position: absolute;
    bottom: 2%;
    margin: 0 2%;
}

.input-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    background-color: inherit;
    color: white;
    text-indent: 29px;
}

.input-box button {
    background-color: inherit;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
}

.input-box button:hover {
    background-color: #50a3f0;
}
